name: CI
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
     - uses: actions/checkout@v2

     - name: Setup MSBuild
       uses: microsoft/setup-msbuild@v1

     - name: Setup NuGet
       uses: NuGet/setup-nuget@v1.0.5
  
     - name: setup-msbuild
       uses: microsoft/setup-msbuild@v1.1
       
     - name: Restore Packages
       run: nuget restore ScriptsExecutionUtility.sln

     - name: Build solution 
       run: msbuild ScriptsExecutionUtility.sln /p:Configuration=Release /p:DeployOnBuild=true /p:PublishProfile=FolderProfile
 
     - name: Upload Artifact
       uses: actions/upload-artifact@v1.0.0
       with:
         name: API-Artifacts
         path: script-utility\script-utility\bin\Release\Publish
