name: CI
on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
     - uses: actions/checkout@v2

     - name: Setup MSBuild
       uses: microsoft/setup-msbuild@v1

     - name: Setup NuGet
       uses: NuGet/setup-nuget@v1.0.5
  
     - name: setup-msbuild
       uses: microsoft/setup-msbuild@v1.1
       
     - name: Restore Packages
       run: nuget restore ScriptsExecutionUtility.sln

     - name: Build solution 
       run: msbuild ScriptsExecutionUtility.sln -t:rebuild -property:Configuration=Release
       
     - name: Publish Artifact
       uses: actions/upload-artifact@v2
       with:
         name: API-Artifacts
         path: D:/a/script-utility/script-utility/bin/Release
  deploy:
    needs: build
    runs-on: windows-latest

    env:
      DEPLOY_SERVER_PATH: ${{ secrets.DEPLOY_SERVER_PATH }}
     # APP_POOL_NAME: ${{ secrets.APP_POOL_NAME }}
      DEPLOY_USER: ${{ secrets.DEPLOY_USER }}
      DEPLOY_PASS: ${{ secrets.DEPLOY_PASSWORD }}
      DEPLOY_SERVER_IP: ${{ secrets.DEPLOY_SERVER_IP }}  # New secret for server IP

    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v2
      with:
        name: API-Artifacts
        path: ./deploy

    
    - name: Deploy to Server
      run: |
        # Add your deployment script or commands here for Windows
        # Example: PowerShell deployment script with credentials and IP
        Write-Host "Deploying to $env:DEPLOY_SERVER_IP"
        # Write-Host "Using App Pool: $env:APP_POOL_NAME"
        Write-Host "Deploy Password: $env:DEPLOY_PASS"

        # Creating a secure string from the provided password
        #$securePassword = ConvertTo-SecureString $env:DEPLOY_PASS -AsPlainText -Force

        
        # Manually prompt for the password
        $deployPassword = Read-Host -Prompt "Enter deployment password" -AsSecureString

        # Convert the secure string to plain text for demonstration purposes
        $deployPasswordPlainText = [System.Runtime.InteropServices.Marshal]::PtrToStringAuto([System.Runtime.InteropServices.Marshal]::SecureStringToBSTR($deployPassword))

        # Display the entered password (for demonstration purposes, remove in production)
        Write-Host "Entered password: $deployPasswordPlainText"

        # Creating a PSCredential object
        $credential = New-Object System.Management.Automation.PSCredential ($env:DEPLOY_USER, $deployPassword)


        Write-Host "Copying files to server..."
        Copy-Item -Path ./deploy/* -Destination "\\$($env:DEPLOY_SERVER_IP)\$($env:DEPLOY_SERVER_PATH)" -Credential $credential
        Write-Host "Files copied successfully."


        # Your deployment commands using the $credential and $env:DEPLOY_SERVER_IP variables
        # Example: Copy files, restart services, etc.
